<!-- <div class="ceu" #ceuContainer></div> -->

<h2 mat-dialog-title>Início do Nosso Universo</h2>
<mat-dialog-content align="center">
  <mat-form-field>
    <mat-label>Big Bang</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Clear</button>
  <button mat-button cdkFocusInitial  (click)="fecharComResultado()">Start</button>
</mat-dialog-actions>

