<div id="shooting-stars-container"></div>

<div class="contador-de-amor">
  <div class="stars"></div>
  <div class="content">
    <h1>Contador de Amor</h1>
    @if (!selectedDate()) {
    <p>Uma noite estrelada, passando tranquilamente.</p>

    <button mat-mini-fab (click)="opencounter()">
      <mat-icon>nights_stay</mat-icon>
    </button>
    }

    <div style="color: aliceblue">
      {{ textoResult() }}
    </div>

    <!-- const dataEspecial = new Date(2023, 4, 16); // 4 = Maio porque janeiro é 0 -->
    @if (selectedDate()?.getTime() === dateEspecial.getTime()) {
      <div class="botoes-amor">
          <!-- <button class="botao-espacial" routerLink="/museu">
            <mat-icon>next</mat-icon> Proximo
          </button> -->
        <div class="mt-5 botao-espacial">
          <span title="Decolar" (click)="startTravelTime()" >🚀</span>
        </div>

      </div>
      }
  </div>
</div>
